/* 
    Document   : newCascadeStyleSheet
    Created on : Feb 13, 2013, 3:46:45 PM
    Author     : havardb
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

asdssd

